*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 112px;
  background-color: #fff;
  }

.w-container{
  width: min(92%, 1166px);
  margin: auto;
}

.header-container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  display: block;
}

.navbtn{
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaa;
  font-size: 30px;
}